{{- /*
  左サイドバー。本家に合わせて「目次」を置いている。
  ナビゲーションのリンクはフッターに移した（layouts/partials/footer.html）。

  目次はそのページの見出しから自動で作られる。
  特定のページで目次を出したくない時は、その記事の front matter に
  toc: false と書く。
*/ -}}
{{- $showToc := and (ne .Params.toc false) (ge (len .Fragments.Identifiers) 1) -}}
<nav class="sidebar">
  <a class="logo" href="/">
    {{- if fileExists "static/logo.png" -}}
      <img src="/logo.png" alt="{{ .Site.Title }}">
    {{- else -}}
      <span class="sitename">魔女の脳<br>ホームページ</span>
    {{- end -}}
  </a>

  {{- if $showToc }}
  <h2>目次</h2>
  <div class="sidebar-toc">
    <ul><li><a href="#">ページ先頭</a></li></ul>
    {{ .TableOfContents }}
  </div>
  {{- end }}
</nav>
