{{- /*
  左サイドバー。
  ★ メニューに項目を足したい時は、下の <li> の行をコピーして増やすだけ。
    （リンク先のページが無い場合は自動で赤文字になる）
*/ -}}
<nav class="sidebar">
  <a class="logo" href="/">
    {{- if fileExists "static/logo.png" -}}
      <img src="/logo.png" alt="{{ .Site.Title }}">
    {{- else -}}
      <span class="sitename">魔女の脳<br>ホームページ</span>
    {{- end -}}
  </a>

  <h2>ナビゲーション</h2>
  <ul>
    <li>{{ partial "link.html" (dict "to" "/" "label" "メインページ") }}</li>
    <li>{{ partial "link.html" (dict "to" "/special/recent-changes/" "label" "最近の更新") }}</li>
    <li>{{ partial "link.html" (dict "to" "/special/all-pages/" "label" "すべてのページ") }}</li>
  </ul>

  <h2>カテゴリ</h2>
  <ul>
    <li>{{ partial "link.html" (dict "to" "/category/game/" "label" "ゲーム") }}</li>
  </ul>

  <h2>このサイトについて</h2>
  <ul>
    <li>{{ partial "link.html" (dict "to" "/majobrain/" "label" "魔女の脳") }}</li>
    <li>{{ partial "link.html" (dict "to" "/site/about/" "label" "このサイトについて") }}</li>
    <li>{{ partial "link.html" (dict "to" "/site/contact/" "label" "お問い合わせ") }}</li>
  </ul>
</nav>
